In [4]:
import pandas as pd
import numpy as np

1. order - 블럭장난감 일별 수요    
2. stock - 보유 각 아이템 재고    
3. max_count - 성형 공정 일별 최대 투입 개수    
4. change_time - 변경에 필요한 시간    
5. cut_yield - 자르기 공정의 각 아이템 월별 양품률   
6. sample_submission

In [5]:
order = pd.read_csv('data/order.csv')
stock = pd.read_csv('data/stock.csv')
max_count = pd.read_csv('data/max_count.csv')
cut_yield = pd.read_csv('data/cut_yield.csv')
change_time =pd.read_csv('data/change_time.csv')
sample_submission = pd.read_csv('data/sample_submission.csv')
order

          time  BLK_1  BLK_2  BLK_3  BLK_4
0   2020-04-01      0      0      0      0
1   2020-04-02      0      0      0      0
2   2020-04-03      0      0      0      0
3   2020-04-04      0      0      0      0
4   2020-04-05      0      0      0      0
5   2020-04-06      0      0      0      0
6   2020-04-07      0      0      0      0
7   2020-04-08      0      0      0      0
8   2020-04-09      0      0      0      0
9   2020-04-10      0      0      0      0
10  2020-04-11      0      0      0      0
11  2020-04-12      0      0      0      0
12  2020-04-13      0      0      0      0
13  2020-04-14      0      0      0      0
14  2020-04-15      0  18018      0      0
15  2020-04-16      0  20437      0      0
16  2020-04-17      0  12059      0      0
17  2020-04-18      0  12059      0      0
18  2020-04-19      0  12059      0      0
19  2020-04-20      0  12059      0      0
20  2020-04-21      0  12059      0      0
21  2020-04-22      0  12059      0      0
22  2020-04-23      0  12059      0      0
23  2020-04-24      0   2954      0      0
24  2020-04-25      0      0      0      0
25  2020-04-26      0      0      0      0
26  2020-04-27      0      0      0      0
27  2020-04-28      0      0      0      0
28  2020-04-29      0      0      0      0
29  2020-04-30      0      0      0      0
..         ...    ...    ...    ...    ...
61  2020-06-01  15588      0  30756  10349
62  2020-06-02  15937      0  31456      0
63  2020-06-03  15937      0  15728  10349
64  2020-06-04  15937      0  15728  20697
65  2020-06-05  31874      0  20970  20697
66  2020-06-06  31874      0  20970  20697
67  2020-06-07  31874      0  20970  20697
68  2020-06-08  31874      0  10485  20697
69  2020-06-09  31874      0  10485      0
70  2020-06-10  15937      0   5243  20697
71  2020-06-11  15937      0   5243  20697
72  2020-06-12  31874      0  20970  20697
73  2020-06-13  31874      0  20970  41395
74  2020-06-14  31874      0  20970  41395
75  2020-06-15  31874      0  62911  41395
76  2020-06-16  31874      0  62911      0
77  2020-06-17  21250      0  31456  41395
78  2020-06-18  21250      0  31456  41395
79  2020-06-19  42499      0  62911  41395
80  2020-06-20  42499      0  41941  41395
81  2020-06-21  42499      0  41941  41395
82  2020-06-22  42499      0  41941  62092
83  2020-06-23  42499      0  62911      0
84  2020-06-24  21250      0  31456  62092
85  2020-06-25  21250      0  31456  62092
86  2020-06-26  42499      0  62911  62092
87  2020-06-27  42499      0  41941  62092
88  2020-06-28  42499      0  41941  62092
89  2020-06-29  42499      0  41941  31046
90  2020-06-30  42499      0  62911      0

[91 rows x 5 columns]

In [ ]:
stock

In [ ]:
order

In [ ]:
change_time

In [ ]:
sample_submission

In [ ]:
pd.set_option('display.max_rows', 2000)

In [ ]:
order['BLK_1'] = order['BLK_1'] /506
order['BLK_2'] = order['BLK_2'] /506
order['BLK_3'] = order['BLK_3'] /400
order['BLK_4'] = order['BLK_4'] /400

In [ ]:
order

In [ ]:
import pandas as pd
import numpy as np
import multiprocessing
import warnings
from copy import deepcopy
from module.genome import Genome, genome_score
warnings.filterwarnings(action='ignore')
np.random.seed(777)

In [6]:
max_count.head()

         date  count
0  2020-04-01    0.0
1  2020-04-02    0.0
2  2020-04-03    0.0
3  2020-04-04    0.0
4  2020-04-05    0.0

In [ ]:
max_count.loc[2183//24, 'count']

In [ ]:
6.667 *21

In [ ]:
change_time

2184개 t

In [ ]:
import os
import pandas as pd
import numpy as np
from pandas.api.types import is_numeric_dtype
from pathlib import Path

In [ ]:
class simulator:
    def __init__(self):
        self.sample_submission = pd.read_csv(os.path.join(Path(__file__).resolve().parent, 'sample_submission.csv'))
        self.max_count = pd.read_csv(os.path.join(Path(__file__).resolve().parent, 'max_count.csv'))
        self.stock = pd.read_csv(os.path.join(Path(__file__).resolve().parent, 'stock.csv'))
        order = pd.read_csv(os.path.join(Path(__file__).resolve().parent, 'order.csv'), index_col=0)   
        order.index = pd.to_datetime(order.index)
        self.order = order
        
    def get_state(self, data):
        if 'CHECK' in data:
            return int(data[-1])
        elif 'CHANGE' in data:
            return int(data[-1])
        else:
            return np.nan

In [ ]:
class RL :
    def __init__(self):
        self.sample_submission = pd.read_csv(os.path.join(Path(__file__).resolve().parent, 'sample_submission.csv'))
        self.max_count = pd.read_csv(os.path.join(Path(__file__).resolve().parent, 'max_count.csv'))
        self.stock = pd.read_csv(os.path.join(Path(__file__).resolve().parent, 'stock.csv'))
        order = pd.read_csv(os.path.join(Path(__file__).resolve().parent, 'order.csv'), index_col=0)
        order['BLK_1'] = order['BLK_1'] /506
        order['BLK_2'] = order['BLK_2'] /506
        order['BLK_3'] = order['BLK_3'] /400
        order['BLK_4'] = order['BLK_4'] /400
        self.order = order
        self.state = [2183, self.max_count.loc[2182//24, 'count'], self.order.loc[2182//24, 'BLK_1'], \
                      self.order.loc[2182//24, 'BLK_2'] ,self.order.loc[2182//24, 'BLK_3'], self.order.loc[2182//24, 'BLK_4'],\
                     0, 0 ,0 ] ## process_time checker, check_time_checker, change_time_checker 
        self.production = [0,0,0,0]
        self.checker2 = [0,0,0,0] # 성형공정변경시간 합계 , 변경 이벤트, 멈춤시간합계, 멈춤이벤트
        
        
    def get_state(self, last_state) : ## 현재 시간과 t+1의 state를 받아서 t의 state를 계산
        t = last_state[0] - 1
        
        # 날짜별 최대 투입 수
        day = t // 24
        if day != (last_state[0])//24 :
            remain_day_max = max_count.loc[t//24, 'count']
        else: 
            remain_day_max = last_state[1] -6.667
        
        # 최소 작업시간, 최대 작업시간
        remain_work_time = last_state[2] 
        
        state = []   # state에 넣을 데이터 [시간, remain_day_max, 밑에서부터 작업시간]
        return 
    
    def update_state(self, last_state):
        t = last_state[0] - 1
        day = t//24
        
        if day != (last_state[0])//24 :
            remain_day_max = max_count.loc[t//24, 'count']
        else: 
            remain_day_max = last_state[1] -6.667
            
    def F(x, a):
        if x < a:
            return 1 - x/a
        else :
            return 0
        
    def Reward(self) :
        p = max(self.order.loc[(self.state[0] // 24):, 'BLK_1'].sum() - self.production[0], 0)+ \
        max(self.order.loc[(self.state[0] // 24):, 'BLK_2'].sum() - self.production[1], 0)+ \
        max(self.order.loc[(self.state[0] // 24):, 'BLK_3'].sum() - self.production[2], 0)+ \
        max(self.order.loc[(self.state[0] // 24):, 'BLK_4'].sum() - self.production[3], 0)
         # 역누적 수요 -역누적 생산량 = 부족분
            
        q = max(self.production[0] - self.order.loc[(self.state[0] // 24):, 'BLK_1'].sum(), 0)+ \
        max(self.production[1] - self.order.loc[(self.state[0] // 24):, 'BLK_2'].sum(), 0)+ \
        max(self.production[2] - self.order.loc[(self.state[0] // 24):, 'BLK_3'].sum(), 0)+ \
        max(self.production[3] - self.order.loc[(self.state[0] // 24):, 'BLK_4'].sum(), 0) 
        # 역누적 생산 - 역누적 수요 = 과잉분
        
        c = self.checker2[0]
        c_n = self.checker2[1]
        s = self.checker2[2]
        s_n = self.checker2[3]
        
        N = self.order.loc[(self.state[0]//24):, ['BLK_1','BLK_2','BLK-3','BLK-4']].sum().sum()
        M = 2184- self.state[0]
        
        score = 50 * F(p, 10*N) + 20 * F(q, 10*N) + 20 * F(c, M) / (1+0.1 * c_n) + 10 * F(s, M) / (1+0.1 * s_n)
        return score
    
    
    def action_candidate(self):
        state = self.state
        checker2 = self.checker2
        change_list = ['change12', 'change13','change14', 'change23']
        candidate_list = []
        if state[0] <= 27 :
            candidate_list += ["check1", "check2","check3","check4", "stop"]
        elif state[6] >= 42 :
            candidate_list += ['process','change12']
        elif state[6] <= 0 : 
            candidate_list += ['check1','check2','check3','check4','stop']

State = (t, max_count 얼마나 남았는지, 납기기한, check time checker, process time checker, chagne time checker)

In [ ]:
F(x, a): 1 - x/a if x < a else 0

In [ ]:
a = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]])

In [ ]:
a.loc[1: , [0,1]].sum().sum()

In [ ]:
1e8

In [ ]:
!pip install tensorflow

In [ ]:
import tensorflow as tf

In [ ]:
!pip uninstall tensorflow

In [ ]:
!pip install tensorflow==2.2.0

In [3]:
from tensorflow.keras import datasets, layers, models

class DGNAgent():
    def __init__(self):
        self.sample_submission = pd.read_csv(os.path.join(Path(__file__).resolve().parent, 'sample_submission.csv'))
        self.max_count = pd.read_csv(os.path.join(Path(__file__).resolve().parent, 'max_count.csv'))
        self.stock = pd.read_csv(os.path.join(Path(__file__).resolve().parent, 'stock.csv'))
        self.order = pd.read_csv(os.path.join(Path(__file__).resolve().parent, 'order.csv'), index_col=0)
        
        
        self.state = [0, 0, self.max_count.loc[0,'count'], self.max_count.loc[0,'count'], \ # t, 상태, A라인 max_count, B라인 max_count
                      self.order.loc[0,'BLK_1'], self.order.loc[0,'BLK_2'], self.order.loc[0,'BLK_3'], self.order.loc[0,'BLK_4'],\
                      # 수요 BLK_1, 2, 3, 4
                     0, 0, 0] # process_time_checker, check_time_checker, change_time_checker 총 11개
        

    def create_model(self) :
        model = Sequential()
        model.add(Conv2D(64,(3,3)), input_shape = (None,11))
        model.add(Activation('relu'))
        model.add(MaxPooling2D(2,2))
        model.add(Dropout(0.2))
        
        model.add(Conv2D(32,(3,3)))
        model.add(Activation('relu'))
        model.add(MaxPooling2D(2,2))
        model.add(Dropout(0.2))
        
        model.add(Conv2D(16,(3,3)))
        model.add(Activation('relu'))
        model.add(MaxPooling2D(2,2))
        model.add(Dropout(0.2))
        
        model.add(Flatten())
        model.add(Dense(64))
        
        model.add(Dense(18, activation = "relu"))
        model.

In [ ]:
class MyDenseLayer(tf.keras.layers.Layer):
    def __init__(self, num_outputs):
        super(MyDenseLayer, self).__init__()
        self.num_outputs = num_outputs

    def build(self, input_shape):
        self.kernel = self.add_variable("kernel", shape=[int(input_shape[-1], self.num_outputs)])

    def call(self, input):
        return tf.matmul(input, self.kernel)

In [1]:
import tensorflow as tf

In [2]:
from tensorflow.keras import datasets, layers, models

Action =  18개 = 체크 4개, change 12개, Stop Process